* {
  margin: 0;
  padding: 0; }

.nav-bar {
  background-image: url("../dist/Assets/SVG/Merged bar-11.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 4em;
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  .nav-bar .logo p {
    padding-top: 1.5em;
    padding-left: 3em;
    color: #1078ad; }
  .nav-bar .right-nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.5em;
    padding-right: 3em;
    list-style: none; }
    .nav-bar .right-nav ul li {
      padding: 0 1em; }
      .nav-bar .right-nav ul li a {
        text-decoration: none;
        color: black; }
        .nav-bar .right-nav ul li a:active {
          color: #1078ad;
          font-weight: bold; }
      .nav-bar .right-nav ul li img {
        border-radius: 50%; }

@media only screen and (max-width: 800px) {
  .nav-bar .right-nav .humber {
    position: absolute;
    position: fixed;
    left: 90%;
    top: 7%;
    -webkit-transform: translate(-15%, -90%);
            transform: translate(-15%, -90%);
    z-index: 4;
    cursor: pointer; }
    .nav-bar .right-nav .humber .line {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 5px; }
  .nav-bar .right-nav ul {
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 90% -10%);
            clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    .nav-bar .right-nav ul li {
      margin: auto 25%;
      z-index: 6; }
      .nav-bar .right-nav ul li a {
        color: white !important;
        text-decoration: none;
        color: black; }
        .nav-bar .right-nav ul li a:active {
          color: #1078ad;
          font-weight: bold; }
      .nav-bar .right-nav ul li img {
        border-radius: 50%; } }

.open {
  -webkit-clip-path: circle(1100px at 90% -10%) !important;
          clip-path: circle(1100px at 90% -10%) !important; }

.msg-yellow {
  background: #f4cf1b;
  width: 100%;
  padding: 2em 0; }
  .msg-yellow .msg {
    text-align: center; }
    .msg-yellow .msg__title {
      color: #1078ad;
      padding: .7em  0; }

.header {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  .header .infHead {
    text-align: center;
    padding: 3em; }
    .header .infHead__title {
      color: #1078ad;
      padding: 1em; }
    .header .infHead__ques {
      padding: 1em;
      line-height: 2em; }
    .header .infHead button {
      padding: 1em 14em;
      margin-top: 2em;
      background-color: #cfe4ef;
      border: solid 2px #1078ad;
      color: #1078ad;
      border-radius: 0.6em; }
      .header .infHead button:hover {
        background-color: #1078ad;
        color: white; }
  .header .imgHead {
    padding-top: 2em; }

@media only screen and (max-width: 600px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .header .infHead {
      text-align: center;
      padding: 0em; }
      .header .infHead__title {
        color: #1078ad;
        padding: 1em; }
      .header .infHead__ques {
        padding: 1em;
        line-height: 2em; }
      .header .infHead button {
        padding: 1em 11em;
        margin-top: 2em;
        background-color: #cfe4ef;
        border: solid 2px #1078ad;
        color: #1078ad;
        border-radius: 0.6em; }
        .header .infHead button:hover {
          background-color: #1078ad;
          color: white; }
    .header .imgHead {
      padding-top: 2em; }
      .header .imgHead img {
        width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }

.symptome h2 {
  text-align: center;
  color: #1078ad;
  padding-top: 2em; }

.symptome main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 3em; }
  .symptome main .photo {
    text-align: center;
    padding: 2em; }
    .symptome main .photo__img {
      padding-bottom: 1em; }
    .symptome main .photo__text {
      color: #1078ad;
      font-weight: 3em; }

.recomndation {
  background-color: #1078ad;
  width: 100%; }
  .recomndation h2 {
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em; }
  .recomndation main {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    .recomndation main .infList {
      padding-left: 6em;
      color: white; }
      .recomndation main .infList__par {
        text-align: center;
        padding-bottom: 1em; }
      .recomndation main .infList__list {
        list-style: none; }
        .recomndation main .infList__list li {
          margin: 1em 0; }
    .recomndation main .call {
      text-align: center; }
      .recomndation main .call h3 {
        color: #f4cf1b; }
      .recomndation main .call .num-phone {
        background-color: #f4cf1b;
        margin: 1em;
        position: relative;
        width: 20%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        padding: 1em 2em;
        border-radius: 1em;
        color: #1078ad; }

@media only screen and (max-width: 600px) {
  .recomndation main {
    display: grid;
    grid-template-columns: repeat(1, 100%); }
    .recomndation main .infList {
      padding-left: 3em;
      color: white; }
      .recomndation main .infList__par {
        text-align: center;
        padding-bottom: 1em; }
      .recomndation main .infList__list {
        list-style: none; }
        .recomndation main .infList__list li {
          margin: 1em 0; }
    .recomndation main .call {
      text-align: center; }
      .recomndation main .call h3 {
        color: #f4cf1b; }
      .recomndation main .call .num-phone {
        background-color: #f4cf1b;
        margin: 1em 0;
        position: relative;
        width: 20%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        padding: 1em 2em;
        border-radius: 1em;
        color: #1078ad; } }

.nav-test {
  background-color: #96c5dc;
  text-align: center;
  padding: 2em; }
  .nav-test h2 {
    color: #1078ad; }
  .nav-test button {
    padding: 1em 11em;
    margin-top: 2em;
    background-color: #cfe4ef;
    border: solid 2px #1078ad;
    color: #1078ad;
    border-radius: 0.6em; }
    .nav-test button:hover {
      background-color: #1078ad;
      color: white; }

.footer {
  padding-top: 2em; }
  .footer h2 {
    text-align: center;
    color: #1078ad; }
  .footer .first-tap {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 3em 0; }
    .footer .first-tap .inf-contact {
      text-align: center; }
      .footer .first-tap .inf-contact h3 {
        color: #1078ad;
        margin-bottom: 1em; }
      .footer .first-tap .inf-contact .inf-nmr {
        margin-bottom: .5em; }
      .footer .first-tap .inf-contact .nmr {
        color: #19974b;
        margin-bottom: .5em;
        font-weight: bold; }
    .footer .first-tap .ret {
      text-align: center;
      padding-top: 2em; }
      .footer .first-tap .ret ul {
        list-style: none; }
        .footer .first-tap .ret ul li {
          padding: 1em 0;
          border-bottom: solid #1078ad;
          margin: 0 9em; }
  .footer .last-tap {
    background-color: #1078ad;
    width: 100%;
    height: 1em;
    margin-top: 1em; }

.proteger h2 {
  text-align: center;
  color: #1078ad;
  padding-top: 2em; }

.proteger main {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  margin-top: 1em; }
  .proteger main div {
    padding: 2em; }
    .proteger main div img {
      padding: 1em; }
    .proteger main div p {
      color: #1078ad;
      width: 60%;
      text-align: center;
      left: 50%;
      position: relative;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      font-weight: bolder; }
  .proteger main .last-calque {
    grid-column: span 3; }

@media only screen and (max-width: 600px) {
  .proteger main {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    .proteger main .last-calque {
      grid-column: span 2; } }

* {
  font-family: 'Cairo', sans-serif !important; }

.Informations {
  text-align: center;
  background-color: #b8d7e7;
  color: #1078ad; }
  .Informations h2 {
    padding: 1em 0; }
  .Informations p {
    padding: 1em 0; }
  .Informations button {
    background-image: url("../dist/Assets/png/button-bg.png");
    margin: 2em 4em;
    padding: 1em 4em;
    border: none; }
    .Informations button a {
      color: white;
      text-decoration: none; }
