*{
    font-family: 'Cairo', sans-serif !important;



}
.Informations {
    text-align: center;
    background-color: blue;
    h2{
        padding:1em 0;
    }
    p{
        padding:1em 0;
    }
    button{
        margin:1em 0;
    }
}
