.test-start{
    .Preambule{
        text-align: center;
        background-color: #e9ecef;
        margin: 1em 2em;
        padding: 1em;
        width: 60%;
        left: 50%;
        position: relative;
        transform: translate(-50%);
        h2{
            color: #1078ad;
        }
        p{
            padding: 1em 0;
        }
        
    }

    .start {
        transform: translateX(150%);
        padding: 1em 11em;
        margin-top: 2em;
        background-color: #cfe4ef;
        border: solid 2px #1078ad;
        color: #1078ad;
        border-radius: 0.6em;
        &:hover {
            background-color: #1078ad;
            color: white;
        }
    }
    
}